
/*
 * Base structure
 */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #000;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

 


#map-canvas
{
  width: 100%;
  height: 250px;
}
ul 
{
  list-style-type:none;
}
.image
{
  display: inline;
}
label
{
  display: none;
}

#pic { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h3 { 
   position: absolute; 
   margin-left: -2px;
   top: 120px; 
   left: ;
   width: 100%;
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;
   text-align: center;
}
p { 
   position: absolute; 
    margin-left: -2px;
   top: 180px; 
   left: ;
   width: 100%;
   color: white; 
   font: normal 15px Helvetica, Sans-Serif; 
   letter-spacing: -1px;
   text-align: center;
  }
.circle-fad { 
   position: absolute; 
   top: 100px; 
   left: 100px;
   width: 100%;
   color: white;  
   border-radius: 100px;
   width: 200px;
   height: 200px;
   background: rgb(200, 255, 255); /* fallback color */
   background: rgba(200, 255, 255, 0.4);
}
.btn-default
{
  position: absolute;
  top: 30px;
  margin-left: -55px;
  background: transparent;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 0px;
  width: 100px;
  font: bold;
  border: 2px solid;
}
.img-responsive
{
  height: 300px;
  margin-top: 50px;
}
#wrap
{
  background-color: #5FB404;
}
